body{
    background-image: linear-gradient(-225deg,#2c133d,#2e2d45,#2e2d45);
}

.profileimage{
    box-shadow: 0 6px 45px 0 rgba(14, 75, 126, 0.2), 0 6px 45px 0 rgba(201, 8, 245, 0.5);
    height: 300px;
    width: 250px;
    border-top-right-radius: 15%;
    border-bottom-right-radius: 15%;
}
.btn{
    background-image: linear-gradient(-225deg,#4e2259,#2d7585,#4e2259);
}

.circle{
    box-shadow: 0 16px 15px 0 rgba(42, 16, 48, 0.2), 0 16px 15px 0 rgba(144, 16, 173, 0.50);
    height: 175px;
    width: 175px;
    background-image: linear-gradient(-225deg,#2d7585,#4e2259);
    color: white;
    
}

.stackcircle{
    height: 80px;
    width: 80px;
    margin: 5%;
}

.hovertext:hover{
    text-decoration: underline;
    font-size: 15px;
}
.box{
}
.box:hover {
    border: 5px solid transparent;
    box-shadow: 0 16px 25px 0 rgba(42, 16, 48, 0.2), 0 16px 25px 0 rgba(144, 16, 173, 0.50);
  }

.btn:hover{
    background-image: linear-gradient(rgb(39, 142, 211),rgb(68, 18, 78));
}

.text-shadow{
    text-shadow: 1px 3px #910e91;
}

